<%= link_to "Zurück", root_path, :class => "btn btn-default"%><br><br>
<h1>Wert Ändern</h1>
<%= simple_form_for @item do |f| %>
  <%= f.input :bloodpressure, label: "Blutdruck", placeholder: "XXX/XX"%>
  <%= f.input :heartrate, label: "Herzfrequenz" %>
  <%= f.input :description, label: "Bemerkungen" %>
  <%= f.button :submit, "Speichern"%>
<% end %>