<h1>Neuen Wert Anlegen</h1>
<%= simple_form_for @item do |f| %>
  <%= f.input :bloodpressure, label: "Blutdruck", placeholder: "XXX/XX"%>
  <%= f.input :heartrate, label: "Herzfrequenz" %>
  <%= f.input :description, label: "Bemerkungen" %>
  <%= f.button :submit, "Speichern"%>
<% end %>